@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--scrollbar-width: 10px;
	--scrollbar-thumb: #888;
	--scrollbar-track: #f4f4f4;
}

html {
	scrollbar-width: thin;
	scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-track);
	scroll-behavior: smooth;
	scrollbar-gutter: stable;
}
